*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*header styling*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 140px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    position: relative;
}
.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s ease;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
nav .fa{
    display: none;
}

/* body styling*/
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    padding: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
} 

/*course section*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

/*campus section*/
.campus{
    width: 100%;           
    margin: auto;
    text-align: center;
    padding: 50px 0;       
    background-color:#CCDBFD;  
}
.campus h1{
    font-size: 36px;
    font-weight: 600;
}
.campus p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
.campus-content{
    width: 80%;
    margin: auto;
}
.campus-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition:  0.3s ease;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}

/*facilities styling*/
.facilities{
    width: 100%;       
    background-color:#FFF0F0;
}
.facilities-content{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities h1{
    font-size: 36px;
    font-weight: 600;
}
.facilities p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
.facilities-col{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col h3{
    text-align: center;
    padding-top: 5px;
}
.facilities-col p{
    text-align: center;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

/*responsiveness*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block; 
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s ease;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .row{
        flex-direction: column;
    }

}
